albumentations
buildingregulariser
contextily
detectron2
ever-beta
geopandas
huggingface_hub
jupyter-server-proxy
leafmap
localtileserver
mapclassify
maplibre
opencv-python-headless
overturemaps
planetary-computer
pyarrow<21.0
pystac-client
rasterio
rioxarray
scikit-image
scikit-learn
# segment-geospatial
torch
torchange
torchgeo
torchinfo
tqdm
transformers
