albumentations
buildingregulariser
contextily
ever-beta
geopandas
huggingface_hub
jupyter-server-proxy
leafmap
localtileserver
mapclassify
maplibre
opencv-python-headless
overturemaps
planetary-computer
pystac-client
rasterio
rioxarray
scikit-image
scikit-learn
# segment-geospatial
torch
torchange
torchgeo
torchinfo
tqdm
transformers
