bump-my-version
coverage
flake8
ipykernel
isort
livereload
mkdocstrings
mkdocstrings-python
mystmd
nbconvert
nbformat
pip
pre-commit
pygments>=2.20.0
pymdown-extensions
sphinx
tox
twine
watchdog
wheel
zensical
